.table-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2%;
}


td {
    padding: 20px;
    text-align: center;
}


tbody>tr:hover {
    background-color: rgb(0, 174, 255);
}

thead {
    background-color: rgb(43, 223, 226);
}


.list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
}



.table-row {
    background-color: white;
}